body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'Heebo';
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
	/*src: local('Heebo'), url('fonts/Heebo.ttf') format('ttf');*/
}
/*TODO uncomment line above when github issue is solved*/
/*https://github.com/facebook/create-react-app/issues/9870*/
